<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App: Catalog </title>
</head>
<body>
    <a href="/">Home</a>&ensp;<a href="/about">About</a>
    <h3>Products</h3>
    <input type="button" value="Create new" onclick="prompt('What the product name?')">

    <ul>
        <li>Product 1 <em><input type="button" value="Delete" onclick="alert('Product has been deleted')"></em><em><input type="button" value="Update" onclick="prompt('What the new Product name?')"></em></li>
        <li>Product 2 <em><input type="button" value="Delete" onclick="alert('Product has been deleted')"></em><em><input type="button" value="Update" onclick="prompt('What the new Product name?')"></em></li>
        <li>Product 3 <em><input type="button" value="Delete" onclick="alert('Product has been deleted')"></em><em><input type="button" value="Update" onclick="prompt('What the new Product name?')"></em></li>
        <li>Product 4 <em><input type="button" value="Delete" onclick="alert('Product has been deleted')"></em><em><input type="button" value="Update" onclick="prompt('What the new Product name?')"></em></li>
    </ul>
</body>
</html>